name: Java

on:
  - push
  - pull_request
permissions:
  contents: read

jobs:
  java:
    name: ${{ matrix.java-version }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java-version:
          - 11
          - 17
          - 21
    steps:
      - name: Check out GitHub repository
        uses: actions/checkout@v5
      - name: Set up Java
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: ${{ matrix.java-version }}
          cache: 'maven'
      - name: Run tests
        run: mvn test
      - name: Run Checkstyle
        run: mvn checkstyle:check
      - name: Generate Javadoc
        run: mvn compile javadoc:javadoc
