name: Python

on:
  - push
  - pull_request
permissions:
  contents: read

jobs:
  python:
    name: ${{ matrix.python-version }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version:
          - '3.8'
          - '3.9'
          - '3.10'
          - '3.11'
    steps:
      - name: Check out GitHub repository
        uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
          cache: 'pip'
      - name: Install development dependencies
        run: pip install -r requirements.txt
        working-directory: ./applications/generate
      - name: Run type check
        run: mypy philadelphia
        working-directory: ./applications/generate
      - name: Install application
        run: python setup.py install
        working-directory: ./applications/generate
